@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Figtree";
  background-color: hsl(47, 88%, 63%);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: hsl(0, 0%, 7%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  border: 2px solid hsl(0, 0%, 7%);
  box-shadow: 8px 8px hsl(0, 0%, 7%);

  width: 350px;
  max-width: 90%;
  padding: 25px;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
  border-radius: 15px;
}

.card-category {
  font-size: 1rem;
  background-color: hsl(47, 88%, 63%);
  padding: 8px 15px;
  font-weight: 800;
  border-radius: 5px;
  display: inline-block;
}

.card-date {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 2px;
}

.card-title {
  font-size: 1.4rem;
  margin: 15px 0;
  font-weight: 800;
}

.card-title:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.card-description {
  font-size: clamp(
    0.85rem,
    calc(0.85rem + (1 - 0.85) * ((100vw - 400px) / (1200 - 400))),
    1rem
  );
  color: hsl(0, 0%, 42%);
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 500;
}

#publisher {
  display: flex;
  align-items: center;
}
#publisher img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
span {
  font-weight: 800;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: hsl(0, 0%, 42%);
}
.attribution a {
  color: hsl(0, 0%, 7%);
  text-decoration: none;
  font-weight: 800;
}
.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    width: 300px;
    padding: 15px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 280px;
    padding: 15px;
  }
}
